{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Sign Up Page</title>
<link rel="stylesheet" href="{% static 'sign_up/style.css' %}" />
{% endblock meta %}

{% block content %}
<div class="container">
    <form id="create_user" action="" class="form" method="POST">
        {% csrf_token %}
        <h1 class="title">Sign Up</h1>
        

        {% for field in form %}
        <p>
            {{ field.label_tag }}
            <div class="input">
                {{ field }}
            </div>
            <!-- {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %} -->
            {% for error in field.errors %}
            <p style="color: red" id="error">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
        <small style="color: grey">Enter the same password as before, for verification.</small>
        <input type="submit" class="submitBtn" name="submitButton" value="Sign Up">
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'sign_up/script.js' %}"></script>
{% endblock content %}