.welcome {
  width: 85%;
  position: relative;
  height: 400px;
  border-radius: 15px;
}

.welcome-message {
  width: 50%;
  position: absolute;
  left: 60px;
  font-weight: 700;
  line-height: 1.5em;
  color: white;
  top: 40px;
  font-size: 54px;
}

#filter {
  position: absolute;
  top: 18px;
  right: 96px;
}

#filter-button {
  background-color: black;
  border-radius: 30px;
  color: white;
  border: none;
  width: 65px;
  height: 24px;
  cursor: pointer;

}

.tags {
  border-radius: 30px;
  border: 1px solid black;
  height: 25px;
  width: 90px;
  padding-left: 10px;
}

#delete {
  cursor: pointer;
}

#add {
  cursor: pointer;
  font-size: 20px;
  top: 14px;
  position: absolute;
  left: 10px;
  border-radius: 30px;
  text-align: center;
  color: white;
  background: black;
  height: 25px;
  width: 42px;
  font-weight: 700;
  padding-bottom: 30px;
}

#add:hover {
  color: #666;
}

#add-tag {
  cursor: pointer;
  font-size: 20px;
  top: 14px;
  position: absolute;
  right: 10px;
  border-radius: 30px;
  text-align: center;
  color: white;
  background: black;
  height: 25px;
  width: 80px;
  font-weight: 700;
  padding-bottom: 30px;
}

#add-tag:hover {
  color: #666;
}

#bookmarks {
    width: 80%;
    border-radius: 15px;
    padding: 25px 0px 0px 0px;
    margin-bottom: 60px;
    background-color: #385170;
}

.main {
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(20, 45, 76, 0.2);
}


.bookmark-count {
  position: absolute;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: rgba(20, 45, 76, 0.2);
  border-radius: 15px;
}

.bookmark-count p {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin-top: 0px;
}

.bookmark-count-num {
  color:white;
  font-size: 100px;
  margin: 110px auto 0px;
  text-align: center;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-top: 28px;
}

th {
  padding: 14px 0px 14px 60px;
  text-align: left;
}

tr {
    transition: hover 0.5s ease-in-out;
}

tr:hover {
  background-color: rgba(20, 45, 76, 0.2);
}

tr:nth-child(odd){
  background-color: rgba(20, 45, 76, 0.2);
}

td {
  padding: 13px 0px 13px 60px;
}

tr> :nth-child(4) {
  text-align: right;
  padding-right: 10px;
}

a {
  color: black;
}

#search {
  position: absolute;
  top: 8px;
  height: 30px;
  right: 35%;
  width: 40%;
}

#search-button {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 5%;
  font-size: 16px;
}

#query {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 950px) {
  #search {
    width: 25%;
    right: 50%;
  }

  #filter {
    width: 38%;
  }

  #tags {
    width: 55%;
  }

  #filter-button {
    width: 30%;
  }

  .welcome-message {
    top: 20px;
    font-size: 50px;
    width: 60%;
    left: 7%;
  }

}

@media only screen and (max-width: 600px) {
  .welcome {
    height: 300px;

  }

  .welcome-message {
    left: 7%;
    font-size: 34px;
    width: 55%;
  }

  .bookmark-count {
    width: 40%;
  }

  .bookmark-count-num {
    margin: 80px auto 0px;
    font-size: 90px;
  }

  .bookmark-count p{
    font-size: 95%
  }

  #filter-button {
    font-size: 12px;
  }

  th {
    padding: 10px 0px 10px 25px;
  }

  td {
    padding: 10px 0px 10px 25px
  }

  table {
    font-size: 85%;
  }


}

@media only screen and (max-width: 430px) {
  .welcome {
    height: 230px;

  }

  .welcome-message {
    font-size: 23px;
    top: 10%;
    width: 47%;
  }

  .bookmark-count {
    width: 45%;
  }

  .bookmark-count-num {
    margin: 20px auto 0px;
    font-size: 90px;
  }

  .bookmark-count p{
    font-size: 85%;
  }

  .container {
    margin: 0 1em;
  }

  #search {
    display: none;
  }

  #filter {
    width: 60%;
  }

}

.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	display: none;
}

.modal-contents {
	width: 50%;
    margin: 15px auto;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;

}

#add-form {
    display: none;
}

#delete-prompt {
    display: none;
	margin: 20%;
}

#delete-bookmark {
    cursor: pointer;
	background-color: black;
	border-radius: 30px;
	color: white;
	border: none;
	width: 50px;
	height: 30px;
	margin: 10px;
}

input {
	display: block;
	width: 50%;
	border: 1px solid gray;
	padding: 7px;
	padding-left: 18px;
	border-radius: 30px;
	margin: 5px auto;

}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}

.close:hover {
    color: #666;
}

.save-button {
	background-color: black;
	border-radius: 30px;
	color: white;
	border: none;
	width: 120px;
	height: 30px;
	margin: 10px;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.modal-contents {
		width: 70%;
	}
}
