.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	display: none;
}

.modal-contents {
	height: 370px;
	width: 50%;
    margin: 15px auto;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
	
}

#add-form {
    display: none;
}

#delete-prompt {
    display: none;
	margin: 20%;
}

#delete-recipe {
    cursor: pointer;
	background-color: black;
	border-radius: 30px;
	color: white;
	border: none;
	width: 50px;
	height: 30px;
	margin: 10px;
}

input {
	display: block;
	width: 50%;
	border: 1px solid gray;
	padding: 7px;
	padding-left: 18px;
	border-radius: 30px;
	margin: 5px auto;
	
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}

.close:hover {
    color: #666;
}

.save-button {
	background-color: black;
	border-radius: 30px;
	color: white;
	border: none;
	width: 120px;
	height: 30px;
	margin: 10px;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.modal-contents {
		width: 70%;
	}
}