{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Bookmark Manager</title>
    <link rel="stylesheet" href="{% static 'bookmarkmanager/style.css' %}" />
{% endblock meta %}

{% block content %}

    <div class="main welcome">
    <p class="welcome-message">Hi {{ user.get_username }}!<br>Ready to store more<br>knowledge?</p>
        <div class="bookmark-count">
            <div class="bookmark-count-num">
                {{ bookmark_count }}
            </div>
            <p>bookmarks saved</p>
        </div>
    </div>

    <div id="bookmarks" class="main">

        <div id="add">+</div>
        <div id="search">
            <input type="text" id="query" class="query" placeholder="search" maxlength="30">
            <i id="search-button" class="fas fa-search"></i>
        </div>
        <div id="filter">
            <select id="tags" class="tags">
                {% for tag in tags %}
                    <option value={% url 'filter_bookmarks' tag=tag.title %}>{{ tag.title }}</option>
                {% endfor %}
            </select>
            <button id="filter-button">Filter</button>
        </div>
        <div id="add-tag">+tag</div>

    <table id="bookmark-table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date Added</th>
            <th></th>
        </tr>

        {% if bookmarks %}
            {% for bookmark in bookmarks %}
             <tr>
                 <td><a href={{ bookmark.url }}>{{ bookmark.title }}</a></td>
                 <td>{{ bookmark.description }}</td>
                 <td>{{ bookmark.time_added | date:"F d, Y" }}</td>
                 <td>
                     <i class="far fa-trash-alt" name="delete" id="delete" value={% url 'delete_bookmark' id=bookmark.id%}></i>
                 </td>
             </tr>
            {% endfor %}
        {% endif %}
    </table>
    </div>

    <div class="bg-modal">
        <div class="modal-contents">
            <div class="close">+</div>

            {% if form %}
                <form action="" method="POST" id="add-form">
                    {% csrf_token %}
                    <label for="title">Title: </label>
                    <br>{{ form.title }}<br>
                    <label for="description">Description: </label>
                    <br>{{ form.description }}<br>
                    <label for="url">Link: </label>
                    <br>{{ form.url }}<br>
                    <label for="tags">Tags: </label>
                    <br>{{ form.tags }}<br>
                    <br>
                    <button class="save-button">Save</button>
                </form>

                <form action="add-tag" method="POST" id="add-tag-form">
                    {% csrf_token %}
                    <label for="title">Title: </label>
                    <br>{{ form.title }}<br>
                    <br>
                    <button class="save-button">Save</button>
                </form>
            {% endif %}

            <div id="delete-prompt">
                <p>Are you sure you want to delete this bookmark?</p>
                <button id="delete-bookmark">Delete</button>
            </div>

        </div>
    </div>

    <script src="{% static 'bookmarkmanager/script.js' %}"></script>

{%  endblock content %}