{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Task Manager</title>  
<link rel="stylesheet" href="{% static 'Tm/style.css' %}" />
{% endblock meta %}

{% block content %}
<div class="
  container 
  d-flex 
  justify-content-between
  shadow p-3 mb-5 bg-white rounded
  p-lg-5
  align-items-center
  custom-head
  mx-auto
  penanda-head
">
  <p class="greet">Hello {{ user.get_username }},<br />Welcome Back!</p>
  <div class="task-count">
    <div class="number-task"></div>
    <p>Task to go!</p>
  </div>
</div>

<div 
class="
  container
  d-flex
  justify-content-between
  penanda-main
">
  <div class="
    shadow p-3 mb-5 bg-white rounded
    w-75
    overflow-scroll
    scroll
    penanda-table
  ">
    <div class="table-options">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Options
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button type='button' class="dropdown-item btn btn-outline-dark balltasks selected">All Tasks</button>
          <button type='button' class='dropdown-item btn btn-outline-dark bcompleted'>Completed</button>
          <button type='button' class='dropdown-item btn btn-outline-dark bunfinished'>Unfinished</button>
          <button type='button' class='dropdown-item btn btn-outline-dark bongoing'>On Going</button>  
        </div>
      </div>
      <button type='button' class="btn add-tasks" style="max-height: 50px;">Add Tasks</button>
    </div>
    <table class='
      table
      table-striped
      table-hover 
      table-sm
      table-borderless
      table-responsive-sm 
    '>
      <thead class="thead-dark">
        <tr>
            <th>Tasks</th>
            <th>Deadline</th>
            <th class='table-status'>Status</th>
            <td class='wat'></td>
        </tr>  
    </thead>
      <tbody></tbody>
    </table>
  </div>
  <div class="
    scroll
    overflow-scroll
    container
    daily-tasks
    shadow p-3 mb-5 bg-white rounded
    p-0
  ">
    <p class="anulah">Daily Tasks</p>
  </div>
</div>
<div class="bg-modal bg-modal-1 ">
  <div class="modal-content scroll">
    <div class="close-1">+</div>
    <div class="form-header">
      <p class='theader selected-header'>Targeted Task</p>
      <p class='dheader unselected-header'>Daily Task</p>
    </div>
    <form class='modal-form' method="POST" action="" id='post-form'>
      {% csrf_token %}
      {{ daily }}
      <input type="submit" class='bottom-right btn btn-primary' value="Submit" id='button-daily' name='daily-submission'>
    </form>

    <form class='modal-form' method="POST" action="" id='target-form' name='target-submission'>
      {% csrf_token %}
      {{ target }}
      <input type="submit"  class='bottom-right btn btn-primary' value="Submit" id='button-target'>
    </form>
  </div>
</div>

<div class="bg-modal-2 ">
  <div class="modal-content scroll">
    <div class="close-2">+</div>
    <form class='put-target-form' method="POST" action="" id='put-form'>
      {% csrf_token %}
      {{ target_put }}
    </form>
    <form id='put-daily' class='put-daily-form' action="" method="POST">
      {% csrf_token %}
      {{ daily_put }}
    </form>
  </div>
</div>
<script src="{% static 'Tm/script.js' %}"></script>
{% endblock content %}

