{% extends 'base.html' %}
{% load static %}

{% block meta %}

    <link rel="stylesheet" href="{% static 'recipe_manager/css/table.css' %}">
    <link rel="stylesheet" href="{% static 'recipe_manager/css/form.css' %}">
    <script src="https://kit.fontawesome.com/38d6a03b50.js" crossorigin="anonymous"></script>
    <title>Recipes</title>
    {% endblock meta %}

    {% block content %}
    


      <div class="main welcome">
      <p class="greet">Hello {{ user.get_username }},<br>Cook yourself a delicious<br>meal today!</p>
      <div class="recipe-count">
        <div class="number-recipe">
          {{ recipe_count }}
        </div>
        <p>recipes collected</p>
      </div>
    </div>



  
      <div id="recipes" class="main">

        <div id="add">+</div>

        <div id="search">
          <input type="text" id="query" class="query" placeholder="search" maxlength="100">
          <i id="search-button" class="fas fa-search"></i>
        </div>

        <div id="filter">
        <select id="difficulty" class="difficulty">
            <option value={% url 'filter_recipes' difficulty="All" %}>All</option>

            <option value={% url 'filter_recipes' difficulty="Easy" %}>Easy</option>
          
            <option value={% url 'filter_recipes' difficulty="Medium" %}>Medium</option>
          
            <option value={% url 'filter_recipes' difficulty="Hard" %}>Hard</option>
        </select>
        <button id="filter-button">Filter</button>
        </div>


    
    <table id="recipe-table">
        <tr>
          <th>Name</th>
          <th>Difficulty</th>
          <th>Date Added</th>
          <th></th>
        </tr>
        {% if recipes %}
          {% for recipe in recipes %}
            <tr>
              <td><a href={{ recipe.link }}>{{ recipe.dish_name }}</a></td>
              <td>{{ recipe.difficulty }}</td>
              <td>{{ recipe.date_added | date:"F d, Y"}}</td>
              <td>
                  <i class="fas fa-pen"></i>
                  <i class="far fa-trash-alt" name="delete" id="delete" value={% url 'delete_recipe' id=recipe.id %}></i>
              </td>
            </tr>
          {% endfor %}
        {% endif %}
      </table>
    </div>

      <div class="bg-modal">
        <div class="modal-contents">
    
            <div class="close">+</div>

            {% if form %}
            <form action="" method="POST" id='add-form'>
                {% csrf_token %}
                <label for="dish_name">Name: </label>
                <br>
                {{ form.dish_name }}
                <br>
                <label for="link">Recipe Link: </label>
                <br>
                {{ form.link }}
                <br>
                <label for="difficulty">Difficulty: </label>
                <br>
                {{ form.difficulty }}
                <br><br>
                <button class="save-button">Save Recipe</button>
            </form>
            {% endif %}

            <div id="delete-prompt">
                <p>Do you want to delete this recipe?</p>
                <button id="delete-recipe">Yes</button>
            </div>
    
        </div>
      </div>

      

      <script src="{% static 'recipe_manager/js/index.js' %}"></script>

      {% endblock content %}