/* animation */
@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* below nav */


.greet {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5em;
}

.task-count {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.task-count p {
    font-size: 1.5rem;
}

.number-task {
    width: 222px;
    height: 222px;
    border-radius: 50%;
    background-color: #6200EE;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 100px;
}

/* main content */

.penanda-table {
    min-height: 555px;
}


.table-options{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.table-options button {
    transition: background-color 0.5s;
}

.table-options button:hover:not(.add-tasks) {
    background-color: black;
    color: white;

}

.table-options .add-tasks {
    background-color: #03DAC6;
    border: none;
}

.table-options .selected {
    background-color: black;
    color:white;
}


table {
    table-layout: fixed;    
    width: 100%;
}


.table-status {
    text-align: center;
    padding-right: 0;
}

.wat {
    text-align: right;
    font-weight: bold;
    padding: 0.3em;
    width: 30px;
    border: none;
}

.actions-button {
    text-align: right;
    width: 50px;
    cursor: pointer;
}



/* status */
.status {
    text-align: center;
    margin: 0;
    padding: 0;
}

.status-style {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 30px;
}

.completed {
    background-color: #4ADE80;
}

.unfinished {
    background-color: #EF4444;
}

.on-going {
    background-color: #FACC15;
}

/* daily tasks */

.dot-status {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.daily-tasks {
    min-height: 555px;
    margin-left: 3em;
    width: 35%;
}

.anulah {
    padding: 1em;
    font-size: 20px;
    font-weight: 700;
}


.daily-title {
    margin-top: 0.2em;
    font-size: 20px;
}

.daily-date {
    margin: 0;
    margin-top: 1.5em;
    margin-bottom: 0.4em;
    align-self: flex-start;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.75);
}

.daily-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.daily-tasks-box {
    padding: 0; 
    display: flex;
    position: relative;
    margin: 1em;
    border-radius: 10px;
    background-color: #FAFAFA;
    cursor: pointer;
}

.must-do-now {
    background-color:#6200EE ;
}

.must-do-now p {
    color:white;
}

/* calendar */
.calendar-container {
    margin: 0 4em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.today {
    background-color: #6200EE;
    color:white;
}

.calendar-container{
    display: flex;
    height: 600px;
    margin-bottom:10em ;
    border-radius: 10px;
}

.calendar {
    margin-top: 2em;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.prev-date,.next-date {
    opacity: 0.5;
}

.month {
    display: flex;
    align-items: center;
    justify-content: center;
}

.month p {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0 16px;
}

.month i {
    font-size: 1.5rem;
    cursor: pointer;
}

.weekdays,.days-sendiri {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.weekdays div {
    font-weight: 600;
}

.weekdays div, .days-sendiri div {
    padding: 1em;
}

.days-sendiri div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.days-sendiri div:hover:not(.today) {
    background-color:#FAFAF0 ;
}


.info {
    border-radius: 0 10px 10px 0;
    width: 50%;
    color:white;
    background-color: #6200EE;
    margin-left: 1em;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.info-day {
    margin-top: 0.55rem;
    margin-bottom: 0;
    padding: 0;
    font-weight: 600;
    font-size: 2rem;
}

.info-date {
    margin: 0.8em auto;
    font-size: 1.5rem;
}

.white-box {
    border-radius: 10px;
    color: black;
    background-color: white;
    height: 47px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5em;
    margin: 0.60em auto;
}


.status-with-title {
    height: 100%;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding:0;
}

.right-side {
    margin:0;
    padding:0;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    margin-left: 1.2em;
}

.status-side {
    position:absolute;
    margin-right: 1em;
    height: 100%;
    min-width: 12px;
    border-radius: 10px 0 0 10px;
}

/* modal */
.bg-modal-1,.bg-modal-2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top:0;
    align-items: center;
    justify-content: center;
    animation: fadein .5s;
    display:none;
}



.modal-content {
    position:relative;
    width: 50%;
    height: 80%;
    border-radius: 10px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.close-1,.close-2 {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 3rem;
    transform: rotate(45deg);
    cursor: pointer;
}

.bottom-right {
    align-self: flex-end;
    margin: 1em 0;
}


/* form */
.form-header {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.form-header{
    text-align: center;
}

.modal-content{
    padding: 1em;
}

.theader,.dheader {
    padding: 1em;
    margin-top: 2em;
    margin-right: 1em;
    border-radius: 10px;
}

.selected-header {
    background-color: #6200EE;
    color:white;
}

.unselected-header {
    background-color: #C4C4C4;
    opacity: 25%;
    cursor: pointer;
}

.hide-submit {
    display: none;
}

#button {
    position:absolute;
    bottom: 2em;
    right: 1em;
    max-width: 100px;
}

.modal-form,.put-daily-form,.put-target-form {
    display:none;
    flex-direction: column;
}

#target-form {
    display: flex;
}

/* Dropdown Button */
.dropbtn {
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
 
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    min-width: 160px;
    right:0;
    padding: 1em;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    animation: fadein 0.2s;
  }
  
  /* Links inside the dropdown */

  
  .dd-content {
      cursor: pointer;
  }
  /* Change color of dropdown links on hover */
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

.scroll {
    max-height: 700px;
    overflow-x: hidden !important;
}


.scroll::-webkit-scrollbar,.daily-tasks::-webkit-scrollbar {
    width: 16px;
    display: none;
}
 
.scroll::-webkit-scrollbar-track,.daily-tasks::-webkit-scrollbar-track {
    background-color: #FAFAFA;
    border-radius: 100px;
}
 
.scroll::-webkit-scrollbar-thumb,.daily-tasks::-webkit-scrollbar-thumb {
    border-radius: 100px;
}

.scroll::-webkit-scrollbar-thumb,.daily-tasks::-webkit-scrollbar-thumb {
    max-height: 10%;
    background-color: rgba(0,0,0,0.1);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}


.custom-head,.penanda-table,.daily-tasks {
    border-radius: 30px !important;
}

.penanda-main {
    margin-bottom: 4em;
}



/* media queries */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .penanda-head {
        width: 95%;
        padding-top: 3em!important; 
        padding-bottom: 3em!important; 

    }

    .penanda-main {
        flex-direction: column;
        width: 100%;
    }

    .greet {
        font-size: 20px;
    }

    .number-task {
        font-size: 30px;
        width: 100px;
        height: 100px;
    }

    .task-count p{
        font-size: 16px ;
    }

    .table-options {
        padding: 1em 0.5em ;
    }

    .table-options button {
        font-size: 16px !important;
        padding: 0.2em;
    }

    table {
        margin: 0;
    }

    .penanda-table {
        width: 100% !important;
        margin: 0;
        padding: 0;
        font-size: 16px;
    }

    .options-type button{
        padding: 0.2em;
    }

    .daily-tasks {
        margin: 0 !important;
        width: 100% !important;
    }

    .daily-tasks-box {
        margin: 1em 0;
    }

    .daily-title {
        font-size: 16px !important;
    }

    .daily-date {
        font-size: 16px;
    }


    .anulah {
        font-size: 16px;
    }

    .status-style {
        height: 10px;
        width: 10px;
        border-radius:50% ;
    }

    .bg-modal-1,.bg-modal-2{
        align-items: flex-start;
    }

    .modal-content {
        overflow-x: hidden;
        width: calc(90%);
        height: 100%;
        font-size: 16px;
        padding-top: 4em;
    }

    .modal-content input,select,option {
        font-size: 16px;
    }

    .text-area {
        height: 100px;
    }

    .dheader ,.theader {
        margin-top: 0em;
        padding: 0.5em;
    }

  }