/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  background-color: pink;
}

.custom-nav {
  padding: 1em;
  background-color: rgba(216, 27, 96,0.2) !important;
  margin-bottom: 2em;
}

.custom-nav a{
  color: white !important;
}
