body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "lato", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.title {
    font-size: 40px;
    margin-bottom: 25px;
}

.inputContainer {
    position: relative;
    /* height: 45px; */
    width: 90%;
    /* margin-bottom: 17px; */
}

.submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 30px;
}
  
.submitBtn:hover {
    background-color: #9867C5;
    transform: translateY(-2px);
}

