{% extends 'base.html' %} 
{% block content %}

    <article>
    <h2>{{ journal.date_created|date:'Y-m-d H:i' }}</h2>
    <h3>{{ journal.journal_title }}</h3>
    <div class="container" id=entrybox>
    <p id=journalentry>{{ journal.journal_entry }}</p>
    </div>
    <p id=journalquote>Quote of the Day: {{ journal.quote_OTD }}</p>
    </article>
    <a href="{% url 'journal-update' journal.id %}">
      <button>Update</button>
    </a>
    <a href="{% url 'journal-delete' journal.id %}">
      <button>Delete</button>
  </a>
  {% endblock %}
