{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Homepage</title>

{% endblock meta %} {% block content %}
<div
  class="
    container
    d-flex
    flex-column
    justify-content-center
    align-items-center
    slide-in
  "
  style="color: white; width: 50%; height: 100vh"
>
  <h1 style="font-size: 60px; text-align: center" class="testing">
    <strong>A place where you can keep up with your productivity</strong>
  </h1>
  <div
    class="button-container container d-flex justify-content-center"
    style="box-sizing: border-box"
  >
    <button id="log-in" type="button" class="btn btn-light">Log In</button>
    <button id="sign-up" type="button" class="btn btn-dark">Sign Up</button>
  </div>
</div>

<div
  class="container d-flex flex-column align-items-center"
  style="color: white; margin-bottom: 5em"
>
  <h1 style="margin-bottom: 1em">Made By:</h1>
  <div class="grid-displays">
    <div style="text-align: center">
      <img
        style="
          border-radius: 50%;
          width: 150px;
          height: 150px;
          object-fit: cover;
        "
        src="{% static 'img/fatyooshi.jpg' %}"
      />
      <p>Ikramullah</p>
    </div>
    <div style="text-align: center">
      <img
        style="
          border-radius: 50%;
          width: 150px;
          height: 150px;
          object-fit: cover;
        "
        src="{% static 'img/serima.jpeg' %}"
      />
      <p>Serima Nuranisa</p>
    </div>
    <div style="text-align: center">
      <img
        style="
          border-radius: 50%;
          width: 150px;
          height: 150px;
          object-fit: cover;
        "
      />
      <p>Naufal</p>
    </div>
    <div style="text-align: center">
      <img
        style="
          border-radius: 50%;
          width: 150px;
          height: 150px;
          object-fit: cover;
        "
      />
      <p>Figo Athallah</p>
    </div>
    <div style="text-align: center">
      <img
        style="
          border-radius: 50%;
          width: 150px;
          height: 150px;
          object-fit: cover;
        "
      />
      <p>Imam Chaidar</p>
    </div>
    <div style="text-align: center">
      <img
        style="
          border-radius: 50%;
          width: 150px;
          height: 150px;
          object-fit: cover;
        "
      />
      <p>Fariz</p>
    </div>
  </div>
</div>

<style>
  @keyframes slide-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .slide-in {
    animation: slide-in 1000ms;
    animation-timing-function: ease-in-out;
  }

  .grid-displays {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    row-gap: 2em;
  }

  .button-container button {
    padding: 1em !important;
    margin-top: 3em;
    margin-right: 1em;
  }

  @media only screen and (max-width: 768px) {
    .testing {
      font-size: 30px !important;
    }
    .container {
      width: 90% !important;
    }

    .button-container {
      width: 100% !important;
    }

    .grid-displays {
      column-gap: 0.7em;
      row-gap: 0.7em;
    }

    img {
      width: 80px !important;
      height: 80px !important;
    }
  }
</style>

<script type="text/javascript">
  document.getElementById("sign-up").onclick = function () {
    location.href = "/sign-up";
  };
  document.getElementById("log-in").onclick = function () {
    location.href = "/login";
  };
</script>

{% endblock content %}