{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock meta %}
<title>Login</title>
{% block content %}
    <div
     class="container 
            d-flex 
            justify-content-center 
            align-items-center 
            flex-column"
    style = "
    background-color: white; 
    border-radius: 10px;
    max-width: 450px;
    min-height: 400px;
    margin-bottom: 4em;
    "        
    >
        <h1>Login</h1> 
        <form action="{% url 'main:login' %}" method="post">
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group" style="margin-bottom: 1em;">
              <label for="exampleInputPassword1" name="password">Password</label>
              <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
{% endblock content %}