{% load static %}

<!DOCTYPE html>
<html lang="en">  
  <head>
    <meta charset="UTF-8" />
    <title>My Personal Journal</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" 
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" 
    crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
    
        body {
          font-family: 'Rubik', sans-serif;
          background-color: pink;
        }
    
        #heading {
          font-family: "Rubik", sans-serif;
          font-size: 40px;
          margin: 0.5%;
        }
        button, input[type=submit] {
          background-color: rgb(192, 88, 183);
          color: black;
          font-family: 'Rubik', sans-serif;
        }
    
        #entry-button{
          font-size: 20px;
        }
    
        #close-button{
          font-size: 15px;
        }
    
        #create-button{
          font-size: 20px;
          padding: 10px 30px;
          display: block;
          margin-left: 180px;
        }
    
        h2, h3 {
          font-size: 25px;
          margin: 0.5%;
          display: inline-block;
          padding: 1.5px 4px;
          vertical-align: top;
        }
    
        h2 {
          background-color: rgb(253, 160, 217);
        }

        #entrybox {
            display: flex;
            border: 4px solid black;
            width:fit-content;
            background-color: whitesmoke;
        }
        #journalentry {
            font-family: "Rubik", sans-serif;
        }

        #journalquote {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 30px;
        }
      </style>
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>