{% extends 'base.html' %}
  {% block content %}
  {% load static %}
  
    <div class="container" id=heading>
      <p>Welcome to your own Personal Journal!</p>
    </div>
    {% include 'journal_list_snippet.html' %}
    <p>
      <button type="button" class="btn btn-primary js-add-journal" id=entry-button>
        Add New Entry</button>
    </p>

    {% block javascript %}
      <script src="{% static 'journal_script.js' %}">
      </script>
    {% endblock %}

    <div class="modal fade" id="modal-journal">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
{% endblock %}


