{% extends 'base.html' %} 
{% block content %}

<form method="post" action="{% url 'add-entry' %}" class="js-journal-form">
    {% csrf_token %}
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Create a new journal entry</h4>
    </div>
    <div class="modal-body">
      <table>
        {{form}}
      </table>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" id=create-button >Create entry</button>
    </div>
  </form>
  {% endblock %}