{% extends 'base.html' %} 
{% block content %}

{% for journal in journals %}
      <article>
        <h2 class="{{ journal.date_created|date:'1'}}">
          {{ journal.date_created|date:'Y-m-d H:i' }}
        </h2>
        <h3>
          <a href="{% url 'journal-detail' journal.id %}">
              {{journal.journal_title}} 
          </a>
        </h3>
      </article>
    {% endfor %}
  {% endblock %}