{% extends 'base.html' %} 
{% block content %}
<form method="post">{% csrf_token %}
    <p>
        Are you sure you want to delete
        <em>"{{ journal.journal_title }}"</em>
        created on {{ journal.date_created|date:'Y-m-d' }}?
    </p>
    <input type="submit" value="Confirm">
</form>
<a href="{% url 'journal-detail' journal.id %}">
    <button>Cancel</button>
</a>
{% endblock %}