{% extends 'base.html' %} 
{% block content %}
    <form action=""
    method=POST>
    <table>
        {% csrf_token %}
        
        {{ form }}
    </table>
        <input type="Submit" value="Update" style="width: 100px; margin-left:225px">
    </form>
      <a href= "{% url 'index' %}">
        <button style="margin-top: 4px; margin-left: 20px">Cancel</button>
      </a>
{% endblock %}
